@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&display=swap');

body {
	background-color: #252525;
	font-size: 14px;
	font-family: "Catamaran";
}

:root{
	--color-negro:#282d33;
	--menu-hover:#ec3642;
	--color-rojo:#ec3642;
	--fondo-header:#212121;
	--fondo-footer:#212121;
	--color-footer:#ccc;
	--fondo-tarjeta:#161616;
}

header{
	background-color: var(--fondo-header);
}

#hero-slides h2{
	text-transform:uppercase;
	font-size: 25px;
	font-weight: 800;
	text-align: center;
	border: 3px solid #FFFFFF;
	padding: 3%;
	width:125%;
}

.btn-center1{
	text-align: center;
	border: 2px solid #FFFFFF;
	padding: 1% 2%;
	margin-left: 14%;
	
}
.btn-athlete{
	background-color: var(--color-rojo);
	padding: 10px 30px;
	font-weight: 600;
	margin-right: 10px;
	font-size: 14px;
	color: #FFFFFF;
	
}

.btn-athelete:hover{
	background-color: #953A3C;
	border-color: #953A3C;
	color: #FFFFFF;
}

#hero-slides h1{
	text-transform:uppercase;
	font-size: 60px;
	font-weight: 900;
	text-align: left;
	width: 200%;
}


footer{
	background-color: var(--fondo-footer);
	color: var(--color-footer);
	padding: 20px 0;
}
footer p{
	margin-bottom: 5px;
}
footer span{
	color: var(--color-rojo);
}
#hero-slides img {
	filter:brightness(0.5);
}
#intro{
	padding: 20px;
}
.caja-intro img{
	filter: grayscale(1);
}
#intro h5{
	text-transform: uppercase;
	font-size: 15px;
}
#intro h4{
	text-transform: uppercase;
}
.intro-card1{
	background-color: var(--color-negro);
	background-image: url("../img/images-1.png");
	background-repeat: no-repeat;
	filter: grayscale(1);
}
.caja-text{
	padding-top: 20px;
	color: #fff;
	filter: none;
}
.btn-rojo{
	background-color: var(--color-rojo);
	color: #fff;
	
}

.product-price {
	color:var(--color-rojo);
	
}

#products img{
	width: 100%;
}

.product-title{
	color: #FFFFFF;
	padding-top: 7%;
	padding-bottom: 3%;
}

.og-price{
	color: grey;
}

#products .text{
	background-color: var(--fondo-tarjeta);
	padding: 5%
}

hr {
	color:#FFFFFF; 
}

#cta {
	background-image: url("../img/bg-parallax.png");
	background-size:cover;
	background-repeat: no-repeat;
	background-position: center;
	color: #FFFFFF;
	padding-top: 7%;
	padding-bottom: 15%;
	
}

#cta h5 {
	font-weight: 100;
	font-size: 30px;
}

.border2{
	text-transform:uppercase;
	font-size: 15px;
	text-align: center;
	border: 2px solid #FFFFFF;
	padding: 1% 0;
	width:14%;
}

#cta h2 {
	font-weight: 800;
	font-size: 60px;
}



.intro-card2 {
	background-color: var(--color-negro);
	background-image: url("../img/images-2.png  ");
	background-repeat: no-repeat;
	filter: grayscale(1);
}

.intro-card3 {
	background-color: var(--color-negro);
	background-image: url("../img/images-3.png");
	background-repeat: no-repeat;
	filter: grayscale(1);
}
.intro-card3 .caja-text{
	filter: none;
}

.btn-center {
	text-align: center;
	border: 2px solid #FFFFFF;
	padding: 1% 2%;
}
